html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  background-color: #f0eee8;
  color: #512200;
  line-height: 1.5;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: Dosis, sans-serif;
  margin-top: 0;
  padding-top: .3em;
}

.link-card {
  display: block;
  background-color: #dcd4cd;
  color: #512200;
  text-decoration: none;
  border: 3px solid #9a816e;
  border-radius: 8px;
  padding: .4em .75em .5em;
}

dd, dt {
  display: inline-block;
  width: 45%;
  margin: 0%;
}

dl {
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  font-size: .875rem;
  padding-top: 1em;
  padding-bottom: 1.5em;
}

div {
  text-align: center;
}

.btn {
  background-color: #785439;
  border-radius: 3px;
  color: #fff;
  font-family: Dosis, sans-serif bold;
  font-size: 1.125rem;
  display: inline-block;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card h2 {
  font-weight: bold;
}
